body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #feebf6;
}

.login-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding: 60px 60px 60px 60px;
    box-sizing: border-box;
}

.displayLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
}

.text {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 28px 24px 28px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.1);
}

.sun_circle {
    width: 100px;
    height: 100px;
    background-color: #ff5757;
    border-radius: 50%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0;
    font-size: 45px;
}

#Username {
    width: 400px;
    height: 65px;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 22px;
    margin: 10px;
}

#Password {
    width: 400px;
    height: 65px;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 22px;
    margin: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 0 50px;
}

input::placeholder {
    color: #9ca3af;
}

.help {
    display: flex;
    padding: 0 45px;
    margin-top: 0;
    height: auto;
    width: auto;
}

.Forgot {
    font-size: 15px;
    color: #5170ff;
}

.create {

    display: flex;
    padding: 0 45px;
    margin-top: 30px;
    height: auto;
    width: auto;
    font-size: 16px;
}

.sign {
    color: #5170ff;
    padding: 0 5px;
    font-size: 15px;
}

.Log {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: -72px;
    margin-bottom: 40px;
}

#Login {
    border: none;
    width: 150px;
    height: 75px;
    background-color: #38b6ff;
    border-radius: 50px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 45px;
    margin-top: 0;
}

.picture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 60px 60px 60px 60px;
    box-sizing: border-box;
}
.displaypicture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
}
.logo{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 600px 24px 28px 600px;
    width: 100vh;
    display: flex;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.1);
}